<% provide(:title, 'Select Orders to complete in OMS') %>
<h2>Select Orders for dispatch</h2>


<%= form_tag(controller: 'static_pages', action: 'ship_the_parcel', method: "post") do %>
    <!-- Form Name -->
    <legend>Select orders to complete in OMS!</legend>
    This is a list of orders ready to complete in OMS. </p>
    <% unless @ship_orders.nil? %>
        <table class="table table-hover table-condensed">
          <tr>
            <th><p class="text-left">Selected</p></th>
            <th><p class="text-centre"> Order #</p></th>
            <th><p class="text-centre"> Priority #</p></th>
            <th><p class="text-centre"> Connote #</p></th>
          </tr>
          <% @ship_orders.each do |ship_parcel| %>
              <tr>
                <td><%= check_box_tag 'selected[]', ship_parcel['order_number'], checked = true %></td>
                <td><%= ship_parcel['order_number'] %></td>
                <td><%= ship_parcel['priority'] %></td>
                <td><%= ship_parcel['connote_reference'] %></td>
              </tr>
          <% end %>
        </table>
    <% end %>

    </p> </p>
    <div>
       <%= submit_tag 'Bye Bye Order', class: 'btn btn-warning btn-large' %>
    </div>

<% end %>


