<% provide(:title, "Edit Vendor Axima Lead times") %>
<h2>Edit Vendor Axima lead times:</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for (@fct_vendor_axima_leadtimes) do |f| %>
        <%= render 'shared/error_messages_fval' %>

        <%= f.label :vendor_code %>
        <%= f.text_field :vendor_code, :disabled=>true %>


        <%= f.label :lead_time_days %>
        <%= f.text_field :lead_time_days %>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>