<% provide(:title, 'Vendor Axima Lead times') %>
<h1>Vendor Axima Lead times</h1>

<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Filters</legend>

    <!-- Search input-->
    <div class="control-group">
      <label class="control-label" for="search">Vendor code</label>
      <div class="controls">
        <input id="search" name="search" class="input-medium search-query" type="text">
      </div>
    </div>

  </fieldset>
</form>

<%= link_to "Add new vendor code", new_fct_vendor_axima_leadtime_path %>
<%= will_paginate %>

<ul class="users">
  <table class="table table-striped">
    <tr>
      <th> Vendor Code </th>
      <th> Lead Time Days </th>
    </tr>

  <% @fct_vendor_axima_leadtimes.each do |fct_vendor_axima_leadtime| %>
      <tr>
        <td><%= link_to fct_vendor_axima_leadtime.vendor_code, edit_fct_vendor_axima_leadtime_path(fct_vendor_axima_leadtime.vendor_code) %></td>
        <td><%= fct_vendor_axima_leadtime.lead_time_days %></td>
        <td><%= link_to "Delete", fct_vendor_axima_leadtime, method: :delete, data: { confirm:"You sure?"} %></td>
      </tr>
  <% end %>
  </table>
</ul>

<%= will_paginate %>