<% provide(:title, 'New Vendor Axima lead time') %>
<h1>Create new vendor to axima leadtime</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@fct_vendor_axima_leadtimes) do |f| %>

        <%= render 'shared/error_messages_fval' %>

        <%= f.label :vendor_code %>
        <%= f.text_field :vendor_code %>

        <%= f.label :lead_time_days %>
        <%= f.text_field :lead_time_days %>

        <%= f.label :order_processing_leadtime %>
        <%= f.text_field :order_processing_leadtime %>

        <%= f.label :shipping_leadtime_exp %>
        <%= f.text_field :shipping_leadtime_exp %>

        <%= f.label :shipping_leadtime_exp_haz %>
        <%= f.text_field :shipping_leadtime_exp_haz %>

        <%= f.label :shipping_leadtime_reg %>
        <%= f.text_field :shipping_leadtime_reg %>

        <%= f.label :shipping_leadtime_reg_haz %>
        <%= f.text_field :shipping_leadtime_reg_haz %>

        <%= f.label :whs_processing_time %>
        <%= f.text_field :whs_processing_time %>


        <%= f.submit "Create Vendor to Axima Lead time", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
