<% provide(:title, 'Axima Control') %>
<h1>Purchase Orders and Axima status</h1>

<h2>Status codes:</h2></p>

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:10px;padding:1px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;}
    .tg th{font-family:Arial, sans-serif;font-size:10px;font-weight:normal;padding:1px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;}
    .tg .tg-glis{font-size:10px}
</style>
<table class="tg">
  <tr>
    <th class="tg-glis">Status</th>
    <th class="tg-031e">Description</th>
  </tr>
  <tr>
    <td class="tg-031e">0</td>
    <td class="tg-031e">New Order, unsent</td>
  </tr>
  <tr>
    <td class="tg-031e">1</td>
    <td class="tg-031e">Order ready to send</td>

    <td class="tg-031e">2</td>
    <td class="tg-031e">Order sent to Axima</td>
  </tr>
  <tr>
    <td class="tg-031e">3</td>
    <td class="tg-031e">Order updated, ready to send update to Axima</td>

    <td class="tg-031e">4</td>
    <td class="tg-031e">Order updated, update sent</td>
  </tr>
  <tr>
    <td class="tg-031e">50</td>
    <td class="tg-031e">Order cancelled, ready to send cancel</td>

    <td class="tg-031e">55</td>
    <td class="tg-031e">Order cancelled, Axima notified</td>
  </tr>
</table>


<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Filters</legend>

    <!-- Search input-->
    <div class="control-group">
      <label class="control-label" for="search">Purchase Order No or Vendor</label>
      <div class="controls">
        <input id="search" name="search" class="input-medium search-query" type="text">
      </div>
    </div>

  </fieldset>
</form>


<%= will_paginate %>
Please note: the 'Place on Hold' functionality is not yet active - it does nothing.
<ul class="users">
  <table class="table table-striped">
    <tr>
      <th> Order # </th>
      <th> Status </th>
      <th> Vendor Code </th>
      <th> On Hold </th>
    </tr>

  <% @fct_axima_controls.each do |fct_axima_controls| %>
      <tr>
        <td><%= fct_axima_controls.purchase_order_no %></td>
        <td><%= fct_axima_controls.status %></td>
        <td><%= fct_axima_controls.vendor_code %></td>
        <td><%= fct_axima_controls.on_hold %></td>
        <td><%= hold_or_remove_hold fct_axima_controls.on_hold %></td>
      </tr>
  <% end %>
  </table>
</ul>

<%= will_paginate %>