<% provide(:title, 'New pick path') %>
<h1>Create new pick path</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@pick_paths) do |f| %>

        <%= render 'shared/error_messages_pp' %>

        <%= f.label :bin_name %>
        <%= f.text_field :bin_name %>

        <%= f.label :pick_order %>
        <%= f.text_field :pick_order %>


        <%= f.submit "Create Pick Path", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
