<%= provide(:title, @user.name) %>
    <h2>
      <%= @user.name %>
    </h2>
<table class="table">
  <tr>
    <th>Email</th>
    <th>Admin</th>
    <th>Demand User</th>
    <th>Direct User</th>
  </tr>
  <tr>
    <td> <%= @user.email %>  </td>
    <td> <%= @user.admin %>  </td>
    <td> <%= @user.demand %> </td>
    <td> <%= @user.direct %> </td>
  </tr>
</table>
