<% provide(:title, 'Order packing') %>
<br>
<%= form_for @allocation_order do |allocation_order| %>

    <h2>Order to pack: <%= @allocation_order.order_num %></h2>
    <h2>Basket Number: <%= @basket_num %></h2>


    <table>
      <% if !@address.empty? %>
          <tr>
            <th valign="top" align="left" width="270px">Address details:</th>
            <td>
              <table>

                <tr>
                  <td><%= @address['company_name'] %></td>
                </tr>
                <tr>
                  <td><%= @address['first_name'] %> <%= @address['last_name'] %></td>
                </tr>
                <tr>
                  <td><%= @address['address'] %></td>
                </tr>
                <tr>
                  <td><%= @address['suburb'] %> <%= @address['postcode'] %></td>
                </tr>
                <tr>
                  <td><%= @address['state'] %></td>
                </tr>
                <tr>
                  <td><%= @address['country'] %></td>
                </tr>

              </table>
            </td>
          </tr>
          <tr>
            <td><br></td>
          </tr>
      <% end %>
      <% if !@order_samples.empty? %>
       <tr>
        <th valign="top" align="left" width="270px">Samples to pack:</th>
        <td>
          <table>
            <% @order_samples.each do |sample| %>
                <tr>
                  <td><%= sample['product_name'] %></td>
                </tr>
            <% end %>
          </table>
        </td>
      </tr>
          <tr>
            <td><br></td>
          </tr>
      <% end %>

      <tr>
        <th valign="top" align="left">Special request info:</th>
        <td><%= @order.special_request_text %></td>
      </tr>
      <% gift_wrapped =["Y", "1"]
         if gift_wrapped.include?(@order.is_gift_wrapped) %>
          <tr>
            <th valign="top" align="left">Gift message:</th>
            <td><%= @order.gift_text %>   <%= link_to "Print Message", print_message_path(:id => @allocation_order) %>
            </td>
          </tr>
      <% end %>
      <tr>
        <td><br></td>
      </tr>

      <% if !@order_items.empty? %>
      <tr>
        <th align="left" valign="top">Order Items:</th>
        <td>
          <table>
            <% @order_items.each do |line| %>
                <tr>
                  <td width="70px"><%= line[:item_code] %> </td>
                  <td width="300px"><%= line[:description] %> </td>
                  <td><%= line[:qty_required] %> </td>
                </tr>
            <% end %>
          </table>
        </td>
      </tr>
      <% end %>
      <tr><td><br>
        <%= allocation_order.hidden_field :order_complete, :value => 0 %></td></tr>
      <tr>
        <td colspan="2" align="center"><%= allocation_order.submit "Complete Order" %>  </td>
      </tr>

    </table>
<% end %>