<% provide(:title, 'Allocation Orders') %>
<h1>Orders to pack</h1>

<ul class="users">
  <table class="table table-hover">
    <tr>
      <th><p class="text-center"> Order # </p></th>
      <th><p class="text-center">Basket Number</p></th>
      <th><p class="text-center">Order Priority</p></th>
      <th><p class="text-center">Order Date</p></th>
      <th> Actions </th>
    </tr>

    <% @allocation_orders.each do |allocation_order| %>
        <tr>
          <td><p class="text-center"><%= allocation_order['order_num']  %> </p></td>
          <td><p class="text-center"><%= allocation_order['basket_num'] %> </p></td>
          <td><p class="text-center"><%= allocation_order['order_priority'] %> </p></td>
          <td><p class="text-center"><%= allocation_order['order_date'] %> </p></td>
          <td>
            <%=
                link_to_unless(allocation_order['processed_by'], 'Process', edit_allocation_order_path(:id => allocation_order['order_num'])) do
                  "Processed by #{allocation_order['processed_by']}"
               end
            #if !allocation_order['processed_by']
                   #print link_to 'Process', order_display_path(:id => allocation_order['order_num'])
                #else
                  #  "Processed by #{allocation_order['processed_by']}"
                #end

          %></td>
        </tr>
    <% end %>
  </table>
</ul>
