<% provide(:title, 'Pick Scan Contents') %>
<h1>All scans</h1>

<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Filters</legend>

    <!-- Search input-->
    <div class="control-group">
      <label class="control-label" for="search">Search by any field</label>
      <div class="controls">
        <input id="search" name="search" class="input-medium search-query" type="text">
      </div>
    </div>

  </fieldset>
</form>

<%= link_to "Add new scan", new_fct_store_pick_scan_path %>
<%= will_paginate %>

<ul class="users">
  <table class="table table-striped">
    <tr>
      <th> Store Code </th>
      <th> Pick Date </th>
      <th> WPI code </th>
      <th> WSN code </th>
      <th> Start Time </th>
      <th> End Time </th>
      <th> Picked By </th>
      <th> Scanned By </th>
      <th> Checked By </th>
    </tr>

  <% @fct_store_pick_scans.each do |fct_store_pick_scan| %>
      <tr>
        <td><%= fct_store_pick_scan.store_code %></td>
        <td><%= fct_store_pick_scan.pick_date %></td>
        <td><%= fct_store_pick_scan.wpi_code %></td>
        <td><%= fct_store_pick_scan.wsn_code %></td>
        <td><%= fct_store_pick_scan.start_time %></td>
        <td><%= fct_store_pick_scan.end_time %></td>
        <td><%= fct_store_pick_scan.picked_by %></td>
        <td><%= fct_store_pick_scan.scanned_by %></td>
        <td><%= fct_store_pick_scan.checked_by %></td>
      </tr>
  <% end %>
  </table>
</ul>

<%= will_paginate %>