<%= provide(:title, @fct_store_pick_scans.store_code) %>
<h2>
  <%= @fct_store_pick_scans.store_code %>
</h2>
<table class="table">
  <tr>
    <th> Store Code </th>
    <th> Pick Date </th>
    <th> WPI code </th>
    <th> WSN code </th>
    <th> Start Time </th>
    <th> End Time </th>
    <th> Picked By </th>
    <th> Scanned By </th>
    <th> Checked By </th>
  </tr>
  <tr>
    <td><%= @fct_store_pick_scans.store_code %></td>
    <td><%= @fct_store_pick_scans.pick_date %></td>
    <td><%= @fct_store_pick_scans.wpi_code %></td>
    <td><%= @fct_store_pick_scans.wsn_code %></td>
    <td><%= @fct_store_pick_scans.start_time %></td>
    <td><%= @fct_store_pick_scans.end_time %></td>
    <td><%= @fct_store_pick_scans.picked_by %></td>
    <td><%= @fct_store_pick_scans.scanned_by %></td>
    <td><%= @fct_store_pick_scans.checked_by %></td>
  </tr>
</table>