<% provide(:title, 'All Bin Contents') %>
<h1>All Bin Contents</h1>

<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Filters</legend>

    <!-- Search input-->
    <div class="control-group">
      <label class="control-label" for="search">Item Code</label>
      <div class="controls">
        <input id="search" name="search" class="input-medium search-query" type="text">
      </div>
    </div>

  </fieldset>
</form>
<%= link_to "Add new item", new_direct_bin_content_path %>
<%= will_paginate %>

<ul class="users">
  <table class="table table-striped">
    <tr>
      <th> Item Code </th>
      <th> Bin Code </th>
      <th> Update date </th>
      <th> Create date </th>
    </tr>

  <% @direct_bin_contents.each do |direct_bin_content| %>
      <tr>
        <td><%= link_to direct_bin_content.item_code, edit_direct_bin_content_path(direct_bin_content.id) %></td>
        <td><%= direct_bin_content.bin_name %></td>
        <td><%= direct_bin_content.updated_at %></td>
        <td><%= direct_bin_content.created_at %></td>
        <td><%= link_to "Delete", direct_bin_content, method: :delete, data: { confirm:"You sure?"} %></td>
      </tr>
  <% end %>
  </table>
</ul>

<%= will_paginate %>